.tabs-btn-item {
  color: black;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  padding: 0;
}
.tabs-btn-item--active {
  color: #0066ff;
}

.card-content {
  padding: 0 5px;
  border: 1px solid #0066ff;
}

.card-link {
  display: block;
  color: #0066ff;
  border: 1px solid #0066ff;
  border-top: 0;
}
